body {
    cursor: none;
    background: #fff;
    font-family: "Robot" , "Shippori Mincho" , serif;
    

    
}

/*デフォルトのマウスカーソルを非表示にする*/
* {
    cursor: none;
  }

/*独自のマウスカーソルを作成*/
.cursor {
position: fixed;
top: -5px;
left: -5px;
width: 10px;
height: 10px;
border-radius: 50%;
background: rgba(0, 0, 0, 0.7);
z-index: 1000;
transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
transform: translate(0, 0);
pointer-events: none;
}

/*aタグにホバーした時に見た目変化*/
.cursor.cursor--hover {
top: -20px;
left: -20px;
width: 20px;
height: 20px;
background: #5c5c5c;
opacity: 0.7;
}

.main_nav {
    z-index: 3;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 40px;
    position: fixed;
    z-index: 999;
    align-items: center;
    box-sizing: border-box;
    top: 0;
}
.main_nav.change-color {
    background-color: rgb(255, 255, 255,0.8);
}
ul li {
    list-style: none;
}
.nav {
    margin-left: 0 auto;
}
.main_left {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.main_left:hover {
    transform: translateY(-3px);
}
.nav-left {
    display: flex;
}
.nav_link-left {
    margin: 0 auto;
}
.nav_lists-left {
    display: flex;
    align-items: center;
}
.nav_list-left {
    padding: 0px 13px;
    /* cursor: pointer; */
	display: block;
	border: 0;
}
.nav_list-left .nav_link-left {
    color: #5c5c5c;
    font-family: "Noto Sans JP" , sans-serif;
    font-weight: bold;
    display: block;
    position: relative;
    font-size: 15px;
    text-align: center;
    margin: auto;
}
.nav-left-01 img {
    width: 33px;
    margin: auto;
    display: block;
}
.nav_lists {
    display: flex;
}
.nav_list {
    padding:  5px 13px;
    margin: 0 10px;
    background-color: #f6f6f6;
    /* cursor: pointer; */
	display: block;
	border: 0;
	border-radius: 8px;
	transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
}
.nav_list:hover {
    color: white;
	box-shadow: 0 3px 0 #5c5c5c;
	transform: translateY(3px);
}
.nav_link {
    transition: all 0.3s;
}
.nav_link img {
    width: 50px;
}
.nav_list .nav_link {
    color: #5c5c5c;
    letter-spacing :2px;
    font-weight: bold;
    display: block;
    position: relative;
    font-size: 13px;
    text-align: center;
    font-family: "Noto Sans JP" , sans-serif;
}
.nav_list .nav_link:before {
    position: absolute;
    content: ・;
    left: 50%;
    transform: translateX(-50%);
    top: -22px;
    opacity: 0;
    transition: 0.3s all;
}
/*サブメニュー*/
.sub-menu {
    position: absolute;
    width: 120px;
    top: 50px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    text-align: center;
}
.sub-menu a {
    color: #5c5c5c;
    padding: 10px 15px;
    font-size: 13px;
    font-family: "Noto Sans JP" , sans-serif;
    font-weight: bold;
    margin-bottom: 1px;
    background-color: #f6f6f6;
    display: block;
}
.sub-menu a:hover {
    color: #fff;
}
.nav_list:hover ul,.nav_list ul.focused {
    opacity: 1;
    visibility: visible;
}
.nav_list li a:hover,.nav_list li a:focus {
    background: #9c9c9c;
}
/*  */

.sab_nav {
    width: 100%;
    padding: 80px 40px 0 40px ;
}
#sabButton {
    background-color: #ffffff; /* ボタンのデフォルトの背景色 */
    color: #5c5c5c; /* ボタンのデフォルトのテキスト色 */
    font-size: 13px;
    letter-spacing :2px;
    text-align: center;
    font-weight: bold;
    font-family: "Noto Sans JP" , sans-serif;
    border: none;
    padding: 5px 13px;
    border-radius: 12px;
    cursor: none; /* カーソルをポインターに変更 */
}
#sabButton:hover {
background-color: #f6f6f6; /* マウスを合わせたときの背景色 */
color: #5c5c5c; /* マウスを合わせたときのテキスト色 */
}
#sab01Button {
    background-color: #f6f6f6; /* ボタンのデフォルトの背景色 */
    color: #5c5c5c; /* ボタンのデフォルトのテキスト色 */
    font-size: 13px;
    letter-spacing :2px;
    text-align: center;
    font-weight: bold;
    font-family: "Noto Sans JP" , sans-serif;
    border: none;
    padding: 5px 13px;
    border-radius: 12px;
    cursor: none; /* カーソルをポインターに変更 */
}
#sab01Button:hover {
background-color: #f6f6f6; /* マウスを合わせたときの背景色 */
color: #5c5c5c; /* マウスを合わせたときのテキスト色 */
}
.text1 {
    font-size: 16px;
    font-weight: bold;
    color: #5c5c5c;
    font-family: "Noto Sans JP" , sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 垂直中心 */
    margin-bottom: 20px;
  }
.text1:after {
    border-top: 1px solid;
    content: "";
    width: 93%; /* 線の長さ */
  }

.top-all {
    width: 100%;
}
.top-all01 {
    width: 100%;
    padding: 100px 40px 0 40px;
}
.top-main-title {
    display: flex;
    width: 100%;
}
.top-all-sakuhin {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}
.top-all-logo {
    width: 19%;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.024),
    0 5px 6.1px rgba(0, 0, 0, 0.02),
    0 16.1px 17.4px rgba(0, 0, 0, 0.03),
    0 19.2px 19.8px rgba(0, 0, 0, 0.02),
    0 30.4px 28.8px rgba(0, 0, 0, 0.02),
    0 80px 60px rgba(0, 0, 0, 0.03);
} 
.top-all-logo img {
    width: 100%;
    inset: 0px;
    border-radius: 15px 15px 0 0 ;
}
.top-all-p {
    width: 100%;
    padding: 20px 20px 30px 20px;

}
.top-all-title {
    width: 100%;
    margin-bottom: 25px;
}
.top-all-title p {
    font-size:1.7rem;
    font-weight: bold;
    color: #5c5c5c;
    justify-content: space-between;
    font-family: "Noto Sans JP" , sans-serif;
}
.p-text-title {
    width: 100%;
    margin-bottom: 10px;
    justify-content: left;
}
.p-text-title p {
    color: #5c5c5c;
    font-size: 18px;
    font-weight: bold;
    font-family: "Noto Sans JP" , sans-serif;
}
.top-all-p span {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    font-family: "Noto Sans JP" , sans-serif;
}


.top-more {
    width: 100%;
}
.top-more-button {
    width: 30%;
    margin-bottom: 25px;
    margin: auto 0 auto auto;
}
.top-more-list {
    padding:  10px 15px;
    background-color: #f6f6f6;
    cursor: pointer;
	display: block;
	border: 0;
	border-radius: 8px;
	transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
}
.top-more-list:hover {
    color: white;
	box-shadow: 0 3px 0 #5c5c5c;
	transform: translateY(3px);
}
.top-more-link {
    transition: all 0.3s;
}
.top-more-list .top-more-link {
    color: #5c5c5c;
    font-weight: bold;
    display: block;
    position: relative;
    font-size: 16px;
    text-align: center;
    font-family: "Noto Sans JP" , sans-serif;
}

.document {
    width: 100%;
    text-align: center;
}
.document img {
    width: 80%;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
}
.footer_main {
    border-top: 1px solid #333;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 40px 0 40px;
    
}
.footer_main img {
    width: 50px;
    opacity: 0.8;
}
small {
    color: #5c5c5c;
    font-size: 18px;
    font-weight: bold;
    font-family: "Noto Sans JP" , sans-serif;
}



/*loadingカーテン*/
#wrap::before,#wrap::after{
    position: fixed;
    z-index: 1;
    top: -15%;
    display: block;
    visibility: hidden;
    width: 50%;
    height: 130%;
    content: '';
    background-color: #f6f6f6;
}
#wrap::before{
    left: 0;
    animation : curtain_l 1.5s;
-webkit-animation : curtain_l 1.5s;
}
#wrap::after{
    right: 0;
    animation : curtain_r 1.5s;
-webkit-animation : curtain_r 1.5s;
}

@keyframes curtain_l{
    0%{visibility: visible;}
    20%{transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{transform: rotate(6deg) translateX(-50%);}
    80%{opacity: 1;}
    100%{transform: rotate(0deg) translateX(-100%); opacity:0; visibility: hidden;}
}
@-webkit-keyframes curtain_l{
    0%{visibility: visible;}
    20%{-webkit-transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{-webkit-transform: rotate(6deg) translateX(-50%);}
    80%{opacity: 1;}
    100%{-webkit-transform: rotate(0deg) translateX(-100%); opacity:0; visibility: hidden;}
}
@keyframes curtain_r{
    0%{ visibility: visible;}
    20%{transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{transform: rotate(-6deg) translateX(50%);}
    80%{opacity: 1;}
    100%{transform: rotate(0deg) translateX(100%); opacity:0; visibility: hidden;}
}
@-webkit-keyframes curtain_r{
    0%{visibility: visible;}
    20%{-webkit-transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{-webkit-transform: rotate(-6deg) translateX(50%);}
    80%{opacity: 1;}
    100%{-webkit-transform: rotate(0deg) translateX(100%); opacity:0; visibility: hidden;}
}

.hamburger-menu {
    display: none;
}

/*プロフィールトップ画像*/
.profile_top {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}
.profile_top img {
    width: 95%;
}
.profile_topline {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.profile_top01 {
    width: 5%;
    height: 5px;
    background-color: #474747;
}
.profile_top02 {
    width: 5%;
    height: 5px;
    background-color: #474747;
}
/*プロフィールページ*/
.profile_main {
    width: 100%;
    margin-top: 15%;
    display: flex;
}
.profile_main04 {
    display: none; 
}
.profile_shousai {
    color: #fff;
    width: 95%;
    margin: 0 auto;
    background-color: #474747;
    padding: 40px 25px 40px 25px;
}
.profile_main00 {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.profile_main02 {
    width: 60%;
}
.profile_main02 img {
    width: 100%;
}
.shousai01 p {
    font-size: 1rem;
}
.shousai02  p {
    font-size: 2rem;
    letter-spacing: 2px;
}
.shousai03 {
    margin-top: 30px;
    padding: 0 0 10px 0;
}
.shousai03 p {
    font-size: 0.8rem;
}
.shousai04 {
    padding: 10px 0 0 0 ;
}
.shousai04 p {
    font-size: 0.8rem;
}
.shousai05 {
    margin-top: 60px;
}
.shousai05 p {
    font-size: 0.8rem;
} 
.shousai06 {
    padding: 15px 0 0 0 ;
}
.shousai06 p {
    font-size: 0.8rem;
}
.shousai_line {
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 100%;
}
.profile_design {
    width: 100%;
    height: 12px;
    background-color: #474747;

}
/*プロフィールテキスト*/
.profile_text {
    width: 100%;
    margin-top: 15%;
    background-color: #f6f6f6;
}
.profile_text01 {
    width: 60%;
    margin: 0 auto;
    padding: 10% 0 0 0;
    justify-content: center;
}
.profile_text02 {
    width: 60%;
    margin: 0 auto;
    padding: 7% 0 0 0;
    justify-content: center;
}
.profile_text03 {
    width: 60%;
    margin: 0 auto;
    padding: 18% 0 10% 0;
    justify-content: center;
}
.profile_text04 {
    width: 100%;
}
.text_title {
    width: 40%;
}
.text_title  p {
    font-size: 3rem;
    color: #474747;
}
.text_detail {
    width: 60%;
    padding: 10px 0 0 0 ;
}
.text_box {
    width: 100%;
    padding: 0 10px 0 10px;
}
.text_detail p {
    font-size: 1rem;
    color: #474747;
}
.text01_detail {
    width: 100%;
    margin-top: 10%;
    justify-content: space-between;
}
.text_award {
    width: 32%;
    padding: 15px;
    border: 2px solid;
    border-color: #474747;
    border-radius: 8%;
    text-align: center;
}
.award-t01 {
    width: 100%;
    text-align: center;
    margin: 20% 0 20% 0;
}
.award-t01 p {
    font-size: 1.3rem;
}
.award-t02 {
    width: 100%;
    text-align: center;
    padding: 10% 0 10% 0;
    margin: 5%;
    margin: 0 auto;
}
.award-t02 p {
    font-size: 1rem;
    color: #474747;
}
.award_line {
    border-bottom: 2px dashed #474747;
    width: 100%;
}



/*パソコン用*/
@media only screen and (min-width: 960px) {
    .top-all-logo {
        transform: translateY(10px);
        transition: .5s;
    } 
    /* 追記 */
    .top-all-logo.show{
        transform: translateY(0);
        opacity: 1;
      }
    .top-all-logo:hover {
        transform: translateY(-0.7em);
    }
    .top-all{
       padding: 200px 40px 0 40px; 
    }
    .profile_main00 {
        display: flex;
    }
    .profile_main01 {
        width: 20%;
        margin: 3% 5% 0 0;
    }
    .profile_text01 {
        display: flex;
    }
    .profile_text02 {
        display: flex;
    }
    .profile_text04 {
        display: flex;
    }
    .text01_detail {
        display: flex;
    }
    .profile_text {
        background-color: #f6f6f6;
    }
    
}
/*スマホ用*/
@media only screen and (max-width: 960px) {

    .hamburger-menu {
        display: block; /* ハンバーガーメニューを表示する */
    }
        .nav_lists {
        display: none; /* 通常のメニューを非表示にする */
    }

    .menu-btn {
		position: fixed;
		top: 10px;
		right: 10px;
		display: flex;
		height: 60px;
		width: 60px;
		justify-content: center;
		align-items: center;
		z-index: 90;
	}
	.menu-btn span,
	.menu-btn span:before,
	.menu-btn span:after {
		content: '';
		display: block;
		height: 3px;
		width: 25px;
		background-color: #5c5c5c;
		position: absolute;
	}
	.menu-btn span:before {
		bottom: 8px;
	}
	.menu-btn span:after {
		top: 8px;
	}.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        background-color: #5c5c5c;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-btn-check {
        display: none;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        background-color: #3584bb;
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
        color:#5c5c5c;
        text-decoration: none;
        padding: 20px 15px 20px 15px;
        position: relative;
        font-family: "Noto Sans JP" , sans-serif;
        font-weight: bold;
        display: block;
    }
    .menu-content ul li a::before {
        content: "";
        width: 8px;
        height: 8px;
        border-top: solid 2px #5c5c5c;
        border-right: solid 2px #5c5c5c;
        transform: rotate(45deg);
        position: absolute;
        right: 15px;
        top: 27px;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #ffffff;
        transition: all 0.5s;/*アニメーション設定*/
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }


    /*メインナビ*/
    .main_nav {
        padding: 25px 20px;
        z-index: 999;
        align-items: center;
        box-sizing: border-box;
    }

    /*サブナビ*/
    .sab_nav {
        padding: 80px 20px 0 20px ;
        overflow-y: auto; /* 縦方向にスクロールできるようにする */
        white-space: nowrap; /* ボタンが横方向に並ぶようにする */
        scroll-snap-type: y mandatory; /* 縦方向にスナップするように設定 */
        scrollbar-width: none; /* Firefox対応: スクロールバーを非表示にする */
        -ms-overflow-style: none; /* IE/Edge対応: スクロールバーを非表示にする */
    }
    .sab_nav::-webkit-scrollbar {
        display: none; /* Webkitブラウザ対応: スクロールバーを非表示にする */
    }
    .sav_nav a {
        display: inline-block; /* ボタンを横方向に並べる */
        scroll-snap-align: start; /* スクロールの開始位置にボタンをスナップする */
    }
    #sabButton {
        font-size: 12px;
        padding: 10px 13px;
        border-radius: 12px;
    }
    #sabButton:hover {
    background-color: #f6f6f6; /* マウスを合わせたときの背景色 */
    color: #5c5c5c; /* マウスを合わせたときのテキスト色 */
    }
    #sab01Button {
        font-size: 12px;
        padding: 10px 13px;
        border-radius: 12px;
    }

    /*作品画面調整*/
    .top-all01 {
        padding: 70px 20px 0 20px;
    }
    .top-all{
        padding: 30px 20px 0 20px;
    }


    /*作品一覧テキスト*/
    .text1 {
        font-size: 15px;
        margin-bottom: 20px;
      }
    .text1:after {
        width: 75%; /* 線の長さ */
    }

    /*作品メインタイトル*/
    .top-all-title {
        width: 100%;
        margin-bottom: 25px;
    }
    .top-all-title p {
        font-size:1.7rem;
        font-weight: bold;
        color: #5c5c5c;
        justify-content: space-between;
        font-family: "Noto Sans JP" , sans-serif;
    }
    /*view moreボタン*/
    .top-more{
        display: none;
    }

    /*作品調整*/
    .top-all-sakuhin {
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* iOSデバイスでスムーズなスクロールを有効にする */
    }
    .top-all-logo a {
        display: block;
    }
    .top-all-logo {
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 250px;
        margin: 0 10px 70px 10px;
        box-shadow:
        0 1.9px 2.5px rgba(0, 0, 0, 0.024),
        0 5px 6.1px rgba(0, 0, 0, 0.02),
        0 10.1px 12.4px rgba(0, 0, 0, 0.03),
        0 15.2px 16.8px rgba(0, 0, 0, 0.02),
        0 20.4px 18.8px rgba(0, 0, 0, 0.02),
        0 30px 25px rgba(0, 0, 0, 0.03);
    } 
    .profile_top img {
        width: 100%;
        margin: 40% 0 40% 0;
    }
    .profile_main {
        display: none;
    }
    .profile_main04 {
        display: block;
        width: 100%;
    }
    .profile_main01 {
        width: 100%;
        margin-top: -10px;
    }
    .profile_main02 {
        width: 100%;
        margin-top: 15%;
    }
    .profile_main02 img {
        width: 100%;
    }
    .profile_design {
        display: none;
    }
    .document img {
        margin: 20px 0 20px 0;
        width: 100%;
    }
    .profile_text01 {
        width: 100%;
        padding: 0 20px 0 20px;
    }
    .profile_text02 {
        width: 100%;
        padding: 70px 20px 0 20px;
    }
    .profile_text03 {
        width: 100%;
        padding: 200px 20px 0 20px;
    }
    .text_title {
        width: 100%;
    }
    .text_title p {
        font-size: 2.5rem;
    }
    .text_detail {
        width: 100%;
    }
    .text_detail p {
        font-size: 15px;
    }
    .text_award {
        width: 100%;
        margin-top: 20px;
        border: 1px solid;
    }
    .profile_shousai {
        width: 100%;
    }
    .profile_text {
        margin-top: 30%;
        background-color: #ffffff;
    }

        /*カーソル*/
        .cursor {
            display: none;
        }

    footer {
        margin: 30px 0 0 0;
        font-size: 15px;
        background-color: #ffffff;

    }
    .footer_main {
        padding: 20px 20px 0 20px;
    }
    .footer_main img {
        width: 50px;
    }
    small {
        font-size: 12px;
        font-weight: bold;
    }
    

}