@charset "UTF-8";

body {
    background: #fff;
    font-family: "Robot" , "Shippori Mincho" , serif;
    background-color: #f6f6f6;

}
.sakuhin_main-wrap {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.sakuhin_main-right {
    width: 50%;
    height: 100%;
}
.sukuhin_main-right-01 {
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.right-01 {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.page-heading {
    font-size: 50px;  
    color: #575757;  
}
.right-01 span {
    font-size: 25px;
    color: #5C5C5C; 
}
@keyframes sway {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0px);
    }
}
.right-01-p {
   position: absolute;
   bottom: 30px;
   text-align: center;
   width: 100%;
   animation: sway 2s infinite ease-in-out;
}
.right-01-p p {
    font-size: 12px;
    color: #5c5c5c;
    font-weight: bold; 
    font-family: "Noto Sans JP" , sans-serif;
}




.sakuhin_main-right-02 {
    width: 100%;
    height: 100vh;
    position: relative;
}
.right-02 {
    top: 50%;
    left: 50%;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.page-shousai-heading {
    font-size: 12px;
    color: #5c5c5c;
    font-weight: bold; 
    font-family: "Noto Sans JP" , sans-serif;
}
.page-shousai-title {
    font-size: 25px;
    color: #575757;
    letter-spacing: 2px;
    font-weight: bold; 
    font-family: "Noto Sans JP" , sans-serif;
    margin-top: 20px;
}
.page-shousai {
    font-size: 15px;
    color: #5C5C5C; 
    margin-top: 10px;
}



.sakuhin_main-right-03 {
    width: 100%;
    height: 150vh;
    position: relative;
}
.right-03 {
    top: 50%;
    left: 50%;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.Avi {
    margin-top: 30px;
}
.Avi img{
    width: 100%;
    margin-top: 20px;
}


.sakuhin_main-right-04 {
    width: 100%;
    height: 100vh;
    position: relative;
}
.right-04 {
    top: 50%;
    left: 50%;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.goods01 {
    display: flex;
    align-items: centers;
    margin-top: 20px;
}
.goods01 img {
    width: 50%;
}



.sakuhin_main-right-05 {
    width: 100%;
    height: 100vh;
    position: relative;
}
.right-05 {
    top: 50%;
    left: 50%;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.right-05 a:hover{ opacity: 0.6; filter: brightness(110%); }


.sakuhin_main-right-06 {
    width: 100%;
    height: 100vh;
    position: relative;
}
.right-06 {
    top: 50%;
    left: 50%;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}



.sakuhin_main-left{
    width: 50%;
}

.sakuhin_main{
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.logo img {
    width: 100px;
}
.logo {
    margin: auto;
}
.icon {
    margin: auto;
}
.icon img {
    width: 65vh;
}
.nav {
   margin-left: 0 auto;
}
.nav img {
    width: 100px;
}


.main_nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
ul li {
    list-style: none;
}
.nav_lists {
    display: flex;
    align-items: center;
}
.nav_list {
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #f6f6f6;
    cursor: pointer;
	display: block;
	border: 0;
	border-radius: 8px;
	transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
    
} 
.main_left {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.main_left:hover {
    transform: translateY(-3px);
}
.nav-left {
    display: flex;
}
.nav_link-left {
    margin: 0 auto;
}
.nav_lists-left {
    display: flex;
    align-items: center;
}
.nav_list-left {
    padding: 10px 15px;
    cursor: pointer;
	display: block;
	border: 0;
}
.nav_list-left .nav_link-left {
    color: #5c5c5c;
    font-family: "Noto Sans JP" , sans-serif;
    font-weight: bold;
    display: block;
    position: relative;
    font-size: 16px;
    text-align: center;
    margin: auto;
}
.nav-left-01 img {
    width: 44px;
}
.nav_list:hover {
    color: white;
	box-shadow: 0 3px 0 #5c5c5c;
	transform: translateY(3px);
}
.nav_link {
    margin: 0 auto;
}
.nav_list .nav_link {
    color: #5c5c5c;
    font-family: "Noto Sans JP" , sans-serif;
    letter-spacing :2px;
    font-weight: bold;
    display: block;
    position: relative;
    font-size: 16px;
    text-align: center;
    margin: auto;
}
.nav_list .nav_link:before {
    position: absolute;
    content: ・;
    left: 50%;
    transform: translateX(-50%);
    top: -22px;
    opacity: 0;
    transition: 0.3s all;
}
.nav_list .nav_link span {
    display: block;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}

footer {
    width: 100%;
    background-color: #5C5C5C;
    text-align: center;
}
small {
    color: #fff;
}



/*loadingカーテン*/
#wrap::before,#wrap::after{
    position: fixed;
    z-index: 1;
    top: -15%;
    display: block;
    visibility: hidden;
    width: 50%;
    height: 130%;
    content: '';
    background-color: #f6f6f6;
}
#wrap::before{
    left: 0;
    animation : curtain_l 1.5s;
-webkit-animation : curtain_l 1.5s;
}
#wrap::after{
    right: 0;
    animation : curtain_r 1.5s;
-webkit-animation : curtain_r 1.5s;
}

@keyframes curtain_l{
    0%{visibility: visible;}
    20%{transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{transform: rotate(6deg) translateX(-50%);}
    80%{opacity: 1;}
    100%{transform: rotate(0deg) translateX(-100%); opacity:0; visibility: hidden;}
}
@-webkit-keyframes curtain_l{
    0%{visibility: visible;}
    20%{-webkit-transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{-webkit-transform: rotate(6deg) translateX(-50%);}
    80%{opacity: 1;}
    100%{-webkit-transform: rotate(0deg) translateX(-100%); opacity:0; visibility: hidden;}
}
@keyframes curtain_r{
    0%{ visibility: visible;}
    20%{transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{transform: rotate(-6deg) translateX(50%);}
    80%{opacity: 1;}
    100%{transform: rotate(0deg) translateX(100%); opacity:0; visibility: hidden;}
}
@-webkit-keyframes curtain_r{
    0%{visibility: visible;}
    20%{-webkit-transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{-webkit-transform: rotate(-6deg) translateX(50%);}
    80%{opacity: 1;}
    100%{-webkit-transform: rotate(0deg) translateX(100%); opacity:0; visibility: hidden;}
}
