@charset "UTF-8";
* {
    cursor: none;
}

body {
    background: #fff;
    font-family: "Robot" , "Shippori Mincho" , serif;
    background-color: #f6f6f6;

}
.sakuhin_main-wrap {
    width: 100%;
    height: auto;
    justify-content: space-between;
}
.sakuhin_main-right {
    height: 100%;
}
.sukuhin_main-right-01 {
    text-align: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.page-heading {
    font-size: 50px;  
    color: #575757;  
}
.right-01 span {
    font-size: 25px;
    color: #5C5C5C; 
}
@keyframes sway {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-15px);
    }
    100% {
        transform: translateX(0px);
    }
}
.right-01-p {
   position: absolute;
   bottom: 30px;
   text-align: center;
   width: 100%;
   animation: sway 2s infinite ease-in-out;
}
.right-01-p p {
    font-size: 12px;
    color: #5c5c5c;
    font-weight: bold; 
    font-family: "Noto Sans JP" , sans-serif;
}



/*サブメニュー*/
.sub-menu {
    z-index: 999;
    position: absolute;
    width: 120px;
    top: 50px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    text-align: center;
}
.sub-menu a {
    color: #5c5c5c;
    padding: 10px 15px;
    font-size: 13px;
    font-family: "Noto Sans JP" , sans-serif;
    font-weight: bold;
    margin-bottom: 1px;
    background-color: #f6f6f6;
    display: block;
}
.sub-menu a:hover {
    color: #fff;
}
.sub-menu a:hover {
    color: #fff;
}
/* 追加: .nav_list のホバー時に .sub-menu を表示 */
.nav_list:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}
.nav_list:hover ul,.nav_list ul.focused {
    opacity: 1;
    visibility: visible;
}
.nav_list li a:hover,.nav_list li a:focus {
    background: #9c9c9c;
}


.sakuhin_main-right-02 {
    width: 100%;
}
.page-shousai-heading {
    font-size: 12px;
    color: #5c5c5c;
    font-weight: bold; 
    font-family: "Noto Sans JP" , sans-serif;
}
.page-shousai-title {
    font-size: 25px;
    color: #575757;
    font-weight: bold; 
    font-family: "Noto Sans JP" , sans-serif;
    margin-top: 20px;
}
.page-shousai {
    font-size: 15px;
    color: #5C5C5C; 
    margin-top: 10px;
}



.sakuhin_main-right-03 {
    width: 100%;
}
.Avi img{
    width: 100%;
    margin-top: 20px;
}
.sakuhin_main-right-04 {
    width: 100%;
}
.goods01 {
    display: flex;
    align-items: centers;
    margin-top: 20px;
}
.goods01 img {
    width: 50%;
}
.sakuhin_main-right-05 {
    width: 100%;
}
.right-05 img {
    width: 100%;
    margin-top: 30px;
}
.sakuhin_main-right-06 {
    width: 100%;
    height: 100vh;
    position: relative;
}
.right-06 {
    top: 50%;
    left: 50%;
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.sakuhin_main-right-07 {
    width: 100%;
}
.right-07 {
    width: 70%;
    margin: auto;
}
.right-08 {
    width: 100%;
}
.right-08 img {
    width: 100%;
}
.right-09 {
    width: 100%;
    text-align: center;
    margin:30px 0 30px 0;
}
.right-09 img {
    width: 70%;
}




.sakuhin_main{
    width: 50%;
    top: 0;
    left: 0;
    display: flex;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
}
.logo img {
    width: 100px;
}
.logo {
    margin: auto;
}
.icon {
    text-align: center;
    margin: auto;
}
.icon img {
    width: 70%;
}

/*メインヘッダー*/
.main_nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
ul li {
    list-style: none;
}
.nav {
    margin-left: 0 auto;
}
.nav img {
    width: 100px;
}
.main_left {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.main_left:hover {
    transform: translateY(-3px);
}
.nav-left {
    display: flex;
}
.nav_link-left {
    margin: 0 auto;
}
.nav_lists-left {
    display: flex;
    align-items: center;
}
.nav_list-left {
    padding: 5px 13px;
    /* cursor: pointer; */
	display: block;
	border: 0;
}
.nav_list-left .nav_link-left {
    color: #5c5c5c;
    font-family: "Noto Sans JP" , sans-serif;
    font-weight: bold;
    display: block;
    position: relative;
    font-size: 15px;
    text-align: center;
    margin: auto;
}
.nav-left-01 img {
    width: 33px;
    margin: auto;
    display: block;
}
.nav_lists {
    display: flex;
    max-height: 400px;
    align-items: center;
}
.nav_list {
    padding: 5px 13px;
    margin: 0 10px;
    background-color: #f6f6f6;
    /* cursor: pointer; */
	display: block;
	border: 0;
	border-radius: 8px;
	transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
    
} 
.nav_list:hover {
    color: white;
	box-shadow: 0 3px 0 #5c5c5c;
	transform: translateY(3px);
}
.nav_link {
    transition: all 0.3s;
}
.nav_list .nav_link {
    color: #5c5c5c;
    font-family: "Noto Sans JP" , sans-serif;
    letter-spacing :2px;
    font-weight: bold;
    display: block;
    position: relative;
    font-size: 13px;
    text-align: center;
}
.nav_list .nav_link:before {
    position: absolute;
    content: ・;
    left: 50%;
    transform: translateX(-50%);
    top: -22px;
    opacity: 0;
    transition: 0.3s all;
}
.nav_list .nav_link span {
    display: block;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
}


footer {
    width: 100%;
    text-align: center;
    bottom: 0;
}
small {
    color: #5c5c5c;
}



/*loadingカーテン*/
#wrap::before,#wrap::after{
    position: fixed;
    z-index: 1;
    top: -15%;
    display: block;
    visibility: hidden;
    width: 50%;
    height: 130%;
    content: '';
    background-color: #f6f6f6;
}
#wrap::before{
    left: 0;
    animation : curtain_l 1.5s;
-webkit-animation : curtain_l 1.5s;
}
#wrap::after{
    right: 0;
    animation : curtain_r 1.5s;
-webkit-animation : curtain_r 1.5s;
}

@keyframes curtain_l{
    0%{visibility: visible;}
    20%{transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{transform: rotate(6deg) translateX(-50%);}
    80%{opacity: 1;}
    100%{transform: rotate(0deg) translateX(-100%); opacity:0; visibility: hidden;}
}
@-webkit-keyframes curtain_l{
    0%{visibility: visible;}
    20%{-webkit-transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{-webkit-transform: rotate(6deg) translateX(-50%);}
    80%{opacity: 1;}
    100%{-webkit-transform: rotate(0deg) translateX(-100%); opacity:0; visibility: hidden;}
}
@keyframes curtain_r{
    0%{ visibility: visible;}
    20%{transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{transform: rotate(-6deg) translateX(50%);}
    80%{opacity: 1;}
    100%{transform: rotate(0deg) translateX(100%); opacity:0; visibility: hidden;}
}
@-webkit-keyframes curtain_r{
    0%{visibility: visible;}
    20%{-webkit-transform: rotate(0deg) translateX(0%); background-color: #f6f6f6;}
    60%{-webkit-transform: rotate(-6deg) translateX(50%);}
    80%{opacity: 1;}
    100%{-webkit-transform: rotate(0deg) translateX(100%); opacity:0; visibility: hidden;}
}

/*デフォルトのマウスカーソルを非表示にする*/
html,a,li{
    cursor: none;
  }

/*独自のマウスカーソルを作成*/
.cursor {
position: fixed;
top: -5px;
left: -5px;
width: 10px;
height: 10px;
border-radius: 50%;
background: rgba(0, 0, 0, 0.7);
z-index: 1000;
transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
transform: translate(0, 0);
pointer-events: none;
}
/*aタグにホバーした時に見た目変化*/
.cursor.cursor--hover {
    top: -20px;
    left: -20px;
    width: 20px;
    height: 20px;
    background: #5c5c5c;
    opacity: 0.7;
}

.hamburger-menu {
    display: none;
}




/*パソコン用*/
@media only screen and (min-width: 960px) {
    .main_nav {
        display: flex;
    }
    .sakuhin_main-right {
        width: 50%;
    }
    .sakuhin_main-left{
        width: 50%;
    }
    .sakuhin_main-wrap {
        display: flex;
    }
    .sakuhin_main {
        height: 100vh;
        display: flex;
        position: fixed;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    }
    .right-01 {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    }
    .page-shousai-title {
        letter-spacing: 2px;
    }
    .right-02 {
        width: 70%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .sakuhin_main-right-02 {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .right-03 {
        width: 70%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .sakuhin_main-right-03 {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .right-04 {
        width: 70%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .sakuhin_main-right-04 {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .right-05 {
        width: 70%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .sakuhin_main-right-05 {
        width: 100%;
        height: 100vh;
        position: relative;
    }
}
/*スマホ用*/
@media only screen and (max-width: 960px) {
    .icon {
        margin-top: 8%;
    }
    .icon img {
        width: 90%;
    }
    .sakuhin_main-right {
        width: 100%;
    }
    .sakuhin_main{
        width: 100%;
        padding: 25px 20px;
        background: #f6f6f6
    }
    .page-heading {
        font-size: 35px;  
        color: #575757;  
    }
    .right-01 span {
        font-size: 20px;
        color: #5C5C5C; 
    }
    .sukuhin_main-right-01 {
        height: 35vh;
        margin-top: 20px;
    }
    .page-shousai-title {
        font-size: 1.4rem;
        margin-top: 30px;
    }
    .sakuhin_main-right-06 {
        height: 85vh;
    }
    .right-02 {
        width: 100%;
        padding: 0 25px 0 25px;
        margin: 100px 0 0 0;

    }
    .right-03 {
        width: 100%;
        padding: 0 25px 0 25px;
        margin: 120px 0 0 0;

    }
    .right-04 {
        width: 100%;
        padding: 0 25px 0 25px;
        margin: 120px 0 0 0;
    }
    .right-05 {
        width: 100%;
        padding: 0 25px 0 25px;
        margin: 120px 0 100px 0;
    }
    .right-07 {
        width: 100%;
        margin-top: 120px;
        padding: 0 25px 0 25px;
    }
    .right-08 {
        width: 100%;
    }
    .right-09 img {
        width: 100%;
    }

    /*ハンバーガーメニュー*/
    .hamburger-menu {
        display: block; /* ハンバーガーメニューを表示する */
    }
        .nav_lists {
        display: none; /* 通常のメニューを非表示にする */
    }

    /*カーソル*/
    .cursor {
        display: none;
    }

    .menu-btn {
		position: fixed;
		top: 10px;
		right: 10px;
		display: flex;
		height: 60px;
		width: 60px;
		justify-content: center;
		align-items: center;
		z-index: 90;
	}
	.menu-btn span,
	.menu-btn span:before,
	.menu-btn span:after {
		content: '';
		display: block;
		height: 3px;
		width: 25px;
		background-color: #5c5c5c;
		position: absolute;
	}
	.menu-btn span:before {
		bottom: 8px;
	}
	.menu-btn span:after {
		top: 8px;
	}.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        background-color: #5c5c5c;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-btn-check {
        display: none;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        background-color: #3584bb;
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 16px;
        box-sizing: border-box;
        color:#5c5c5c;
        text-decoration: none;
        padding: 20px 15px 20px 15px;
        position: relative;
        font-family: "Noto Sans JP" , sans-serif;
        font-weight: bold;
        display: block;
    }
    .menu-content ul li a::before {
        content: "";
        width: 8px;
        height: 8px;
        border-top: solid 2px #5c5c5c;
        border-right: solid 2px #5c5c5c;
        transform: rotate(45deg);
        position: absolute;
        right: 15px;
        top: 27px;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #ffffff;
        transition: all 0.5s;/*アニメーション設定*/
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }
}